body {
  background-image: url("../assets/sapinnoel.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  cursor: url("src/assets/sucreOrge2.png"), auto;
  /* overflow: hidden; */
}

.logo {
  width: 270px;
}
.nav {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 1.5rem;
}

.nav a {
  color: aliceblue;
}

button {
  border: none;
}

.lutin {
  position: relative;
  bottom: 50px;
  width: 7em;
  height: 7em;
  animation: slide 4s infinite;
}

.buttonMusic {
  background: none;
  position: absolute;
  top: 230px;
  right: 650px;
}

/* Les pourcentages représentent la temporalité de l'évènement */
@keyframes slide {
  0% {
    transform: translateX(-100%); /* IceAyoub part de la gauche */
  }
  55% {
    transform: translateX(70vw); /* IceAyoub s'arrête au milieu de l'écran */
  }
  100% {
    transform: translateX(
      130vw
    ); /* IceAyoub reprend sa route vers l'extreme droite */
  }
}
