body {
  background-color: brown;
}

.presents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.present {
  width: 100px;
  height: 100px;
  background-color: green;
}

/* Les pourcentages représentent la temporalité de l'évènement */

@keyframes slide {
  0% {
    transform: translateX(-100%); /* IceAyoub part de la gauche */
  } 
  55% {
    transform: translateX(50vw); /* IceAyoub s'arrête au milieu de l'écran */
  } 
  100% {
    transform: translateX(100vw); /* IceAyoub reprend sa route vers l'extreme droite */
  } 
}

.lutin {
  width: 7em;
  height: 7em;
  position: absolute;
  animation: slide 3s infinite;
}
